@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

/* blue components */
.txt-blue {
  color: #3e5eab !important;
}
.btn-blue {
  background-color: #5580e9 !important;
}

/* input component */
.input-container input {
  border-bottom: 1px solid #c1c8e4 !important;
  outline: 0;
  border-width: 0 0 4px;
}

input::placeholder {
  color: #c1c8e4 !important;
}

.input-container .form-label {
  color: #3e5eab !important;
}

/* login container */
.login-container,
.login-container .row,
.login-container .login-left-container,
.login-container .login-right-container {
  width: 100%;
  height: 100%;
}

/* login left container  */
.login-container .login-left-container {
  background-color: #3e5eab;
}

.login-container .login-left-container .left-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 300px;
}

.login-container .login-left-container h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

/* login right container */
.login-container .login-right-container {
  background-color: white;
}

.login-container .login-right-container .main-container {
  padding: 50px;
}

@media only screen and (min-width: 992px) {
  .login-container .login-right-container .main-container .field-container {
    margin-top: 150px;
  }
}
